@import '~variables.scss';

header{
  align-items: center;
  justify-content: left;
  background-color: $header-app;
  height: 100px;
}

.header-logo{
  text-align: left;
  margin-left: 25px;
} 

.header-logo-img{
  .path1::before{
    font-size: 50px; 
  }
  .path2::before{
    font-size: 50px;
  }
} 
  
