<section class="list">
  <section class="cell flex-container flex-dir-column large-flex-dir-row item list-item-load" lazy-load-images>
  </section> 
  <section class="cell flex-container flex-dir-column large-flex-dir-row item list-item-load" lazy-load-images>
  </section> 
  <section class="cell flex-container flex-dir-column large-flex-dir-row item list-item-load" lazy-load-images>
  </section> 
  <section class="cell flex-container flex-dir-column large-flex-dir-row item list-item-load" lazy-load-images>
  </section> 
  <section class="cell flex-container flex-dir-column large-flex-dir-row item list-item-load" lazy-load-images>
  </section> 
  <section class="cell flex-container flex-dir-column large-flex-dir-row item list-item-load" lazy-load-images>
  </section> 
  <section class="cell flex-container flex-dir-column large-flex-dir-row item list-item-load" lazy-load-images>
  </section> 
  <section class="cell flex-container flex-dir-column large-flex-dir-row item list-item-load" lazy-load-images>
  </section> 
  <section class="cell flex-container flex-dir-column large-flex-dir-row item list-item-load" lazy-load-images>
  </section> 
  <section class="cell flex-container flex-dir-column large-flex-dir-row item list-item-load" lazy-load-images>
  </section> 
  <section class="cell flex-container flex-dir-column large-flex-dir-row item list-item-load" lazy-load-images>
  </section> 
  <section class="cell flex-container flex-dir-column large-flex-dir-row item list-item-load" lazy-load-images>
  </section> 
</section>
