@import '~variables.scss';

$margin-up-low: 1.875rem 0px 1.875rem 0px;

@keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
  
    100% {
      background-position: 468px 0;
    }
  }

  .list-item-load{
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
}

.list{
    padding: 10px;
    
    @include breakpoint(large) {
      padding:0px 25px; 
      
    }
  
  }

  .item{
    padding: 10px;
    height: auto;
    background-color: white;
    margin: $margin-up-low;
    border-radius: 3px;
  
    @include breakpoint(large) {
      width: 100%;
      height: 210px; 
    }
  
  }