$magin-sides: 0.625rem;
$margin-up-low: 1.875rem 0px 1.875rem 0px;
$height-img: 195px;

.list{
  padding: 10px; 
}
.item{
  padding: 10px;
  height: auto;
  background-color: white;
  margin: $margin-up-low;
  border-radius: 3px;
}

.item-img{
  text-indent: -10000px;
  margin: 0px;
  height: $height-img;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 200%);
}

.item-info-general{
  font-size: 26px;
  padding: 15px 0 30px 0;
  border-bottom: dashed 1px #777777;
}

.item-info-title{
  font-size: 1rem;
  color: #157AB1;
  font-weight: bold;
}

.item-start{
  color: #FDBA12;
  font-size: 1rem;
}

.item-amenitie{
  font-size: 1.1rem;
  margin-left: 2px;
  margin-right: 2px;
}

.item-price{
  padding-top: 20px;
  padding-bottom: 55px;
  text-align: center;
}

.item-price-title{
  color: #444444;
}

.item-price-value{  
  font-size: 2em;
  font-weight: bold;
  color: #DF6800;
  line-height: 1;
}

  .item-price-value-coin{
    font-size: 1.7rem;
    height: 135px;
    position: relative;
    bottom: 2px;
    left: 3px;
    font-weight: 400;
  }

.item-price-btn{
  background-color: #002C77;
  height: 40px;
  font-weight: 800;
  border: solid 1px #002C77;
  width: 100%;
  text-align: center;
  color: white;
  border-radius: 5px;
  cursor: pointer;

  &:hover{
    background-color:#000a77;
  }
}