@import '~variables.scss';
  
$magin-sides: 0.625rem;
$height-img: 195px;

.list{
  padding: 10px;
  
  @include breakpoint(large) {
    padding:0px 15px;  
  }

}

.item:first-child{
  margin-top: 0px; 

  @include breakpoint(large) {
    margin-top: 25px;
  }
}

.item{
  padding: 10px;
  height: auto;
  background-color: white;
  border-radius: 3px;
  margin: 9px 0px 9px 0px;

  @include breakpoint(large) {
    width: 100%;
    height: 210px; 
  }

}

.item-img{
  text-indent: -10000px;
  margin: 0px;
  height: $height-img;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 200%);
  max-width:400px;
  z-index: 10000;

  @include breakpoint(large) {
     min-width: 300px;
     text-align: center;
     height: auto;
  }

}

.item-info-general{
  font-size: 26px;
  padding: 15px 0 30px 0;
  border-bottom: dashed 1px #777777;

  @include breakpoint(large) {
    padding: 10px 20px;
    height: auto;
    width: calc(100% - 300px);
    border-bottom: none;
    border-right: dashed 1px #777777;
 }
}

.item-info-title{
  font-size: 1rem;
  color: #157AB1;
  font-weight: bold;
}

.item-start{
  color: #FDBA12;
  font-size: 1rem;
  width: 10px;
  display: block;
}

.item-amenitie{
  font-size: 1.1rem;
  margin-left: 2px;
  margin-right: 2px;
}

.item-price{
  padding-top: 20px;
  padding-bottom: 55px;
  text-align: center;

  @include breakpoint(large) {
    width: 260px;
    height: auto;
    padding: 20px;
  }
}

.item-price-title{
  color: #444444;
}

.item-price-value{  
  font-size: 2em;
  font-weight: bold;
  color: #DF6800;
  line-height: 1;
}

  .item-price-value-coin{
    font-size: 1.7rem;
    height: 135px;
    position: relative;
    bottom: 2px;
    left: 3px;
    font-weight: 400;
  }

.item-price-btn{
  background-color: #002C77;
  height: 40px;
  font-weight: 800;
  border: solid 1px #002C77;
  width: 100%;
  text-align: center;
  color: white;
  border-radius: 5px;
  cursor: pointer;

  &:hover{
    background-color:#000a77;
  }
}