//Icons apps
$icomoon-font-path: "./assets/fonts" !default;

@import '../node_modules/foundation-sites/assets/foundation.scss';

@include foundation-xy-grid-classes;

$icon-logo-almundo-path1: "\e900";
$icon-logo-almundo-path2: "\e901";
$icon-sheets: "\e902";
$icon-separate-bredroom: "\e903";
$icon-safety-box: "\e904";
$icon-restaurant: "\e905";
$icon-nightclub: "\e906";
$icon-newspaper: "\e907";
$icon-kitchen-facilities: "\e908";
$icon-garden: "\e909";
$icon-fitness-center: "\e90a";
$icon-deep-soaking-bathtub: "\e90b";
$icon-coffe-maker: "\e90c";
$icon-children-club: "\e90d"; 
$icon-business-center: "\e90e";
$icon-beach-pool-facilities: "\e90f";
$icon-beach: "\e910";
$icon-bathtub: "\e911";
$icon-bathrobes: "\e912";
$icon-star: "\e913";
$icon-search: "\e914";

//Default styles 
$header-app: #0E3F7D;